.vscode
/__pycache__/
cmds.txt
Temp/
*/*.pyc
*.pyc
checkpoints/*
psftp/*
results/*
training_log.txt 
other_codes/*
results*
demos/*
log/
fig/
original_code/*
*.jpg
*.tif
samples/
CHANGE_LOG.md
reports/*
saved/*
predictions/*
temp/*
reports/